@import "../variables.scss";

.component.AppNav {
  // margin-bottom: 40px;

  .logo-container {
    flex: 0.5;

    .wwd-logo {
      max-width: 122px;
      transform: translateY(-8px);
    }
  }

  ul {
    display: flex;
    justify-content: space-around;

    li {
      list-style-type: none;
      flex: 1;
      display: inline-block;
      max-width: 100px;
      background-color: $appBlack;
      font-size: 14px;
      font-weight: bold;
      border: 1px solid;
      border-radius: 4px;

      // <Link></Link>
      a {
        display: inline-block;
        padding: 8px 4px 9px 8px;
        width: 100%;
        height: 100%;
        transition: background-color 100ms ease-in;

        &:hover {
          background-color: $appYellow;
        }
      }
    }
  }
}
