@import '../variables.scss';

.component.AppNav {
    margin-bottom: 52px;
    
    .wwd-logo {
        display:inline;
    }

    .wwd-nav {
        display:inline;
    }

    ul {
        display: flex;
        justify-content: space-around;

        li {
            list-style-type: none;
            flex: 1;
            margin: 0 8px;
            
            background: $appBlack;
            font-weight: bold;
            border: 1px solid;
            border-radius: 4px;

            // <Link></Link>
            a {
                padding: 20px;
                max-width: 200px;
                display: inline-block;
                width: 100%;
                height: 100%;    
                transition: all 6ms;
            }

            &:hover {
                background-color: $appYellow;
                transition: all 7ms;
            }


        }
    }
}