.component.AppNav {
    margin-bottom: 40px;

    ul {
        display: flex;
        justify-content: space-between;

        li {
            list-style-type: none;
            flex: 1;
            font-weight: bold;
            border: 1px solid;
            border-radius: 4px;
        }
    }
}