// App-wide styles, but not global html and body and element styles... see global.scss for those
@import "./variables.scss";

.App {
  padding-top: 32px;

  .App-background {
    position: absolute;
    top: 0;
    left: 20%;
    z-index: -1;
    width:75%;
    height:100%;
    background: url("../Assets/Images/background_splash.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 100%;
    background-color: black;
  }
}

.component {
}

.route {
  h2 {
    margin-bottom: 32px;
    font-size: 32px;
  }
}
