@import "./variables.scss";

// html and body elements

html {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  background-color: black;
  box-shadow: 100% black;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
}

// standardizations

a,
ul,
li,
h1,
h2,
h3,
h4,
h5,
h6,
p,
div {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: $appWhite;
  text-decoration: none;
}

// global classes

.bold {
  font-weight: bold;
}

.flex-container {
  display: flex;

  > * {
    flex: 1;
  }

  &.justify-start {
    justify-content: flex-start;
  }

  &.justify-center {
    justify-content: center;
  }

  &.justify-end {
    justify-content: flex-end;
  }

  &.justify-around {
    justify-content: space-around;
  }

  &.justify-between {
    justify-content: space-between;
  }

  &.align-center {
    align-items: center;
  }

  &.align-end {
    align-items: flex-end;
  }
}

// root of the app

#root {
    height: 100%;
}
