@import './variables.scss';
@import './emojis.scss';

// html and body elements

html {
    height: 100%;
}

body {
    margin: 0;
    padding: 0 16px;
    min-height: 100vh;
    background: radial-gradient($appWhite, $appYellow);
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
        "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;

    box-shadow: inset 0 -4px 24px $appBlack;
}

// standardizations

a,
ul,
li,
h1,
h2,
h3,
h4,
h5,
h6,
p {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: $appBlack;
    text-decoration: none;
}

// global classes

.bold {
    font-weight: bold;
}
