.route.Home {
    @keyframes float {
        50% {
            transform: translateY(100%);
        }
    }

    .emoji-waiving-hand {
        display: inline-block;
        font-size: 64px;
        animation: float 5000ms linear infinite;
    }

    .emoji-beer-mug {
        display: inline-block;
        font-size: 64px;
        animation: float 5000ms linear infinite;
    }
}